{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier",
    "@vue/prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "parser": "vue-eslint-parser",
  "plugins": ["vue", "unused-imports"],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": 0,
    "unused-imports/no-unused-imports": "error",
    "vue/require-default-prop": "off",
    //"@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-explicit-any": ["off"],
    "unused-imports/no-unused-vars": 0

    /*  "@typescript-eslint/no-non-null-assertion": 0,
    "vue/valid-v-slot": [
      "error",
      {
        "allowModifiers": true
      }
    ] */
  }
}
